<!DOCTYPE HTML>
<html>	
	<head>
		<link type="text/css" rel="stylesheet" href="css/bootstrap.css"/>
		<link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
		<link rel="shortcut icon" href="images/thumbnails/deuan.jpg" type="image/jpg">
		<title>Deuan Blair</title>

		<link type="text/css" rel="stylesheet" href="css/myStyle.css"/>
		<link type="text/css" rel="stylesheet" href="css/animation.css"/>
	</head>
	<body bgcolor="#686868" >	
		<!--=====================================================Responsive NavBar=====================================================-->
		<div class ="navbar navbar-inverse">
		 	<div class="row-fluid">
			 	<div class="col-md-4">
				 	<div class="container"> 
				 		<div class="navbar-header">
				 			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
				 				<span class="icon-bar"></span>
				 				<span class="icon-bar"></span>
				 				<span class="icon-bar"></span>
				 				<span class="icon-bar"></span>
				 			</button>
				 			<div class="pull-left">
				 			<a href="/home"><img src="images/thumbnails/deuan.jpg" class="img-circle" alt="Circular Image"></a>
				 			</div>
				 			<a href="/home" class="navbar-brand">Deuan Blair</a>
				 		</div>
				 		<div class="navbar-collapse collapse">
				 			<ul class="nav navbar-nav navbar-right">
						 		<li>
						 			<a href="/login" id="signInButton">Sign in</a>
						 		</li>
						 		<li>	
						 			<a  href="/">Logout</a>		 			
						 		</li>
						 	</ul>
				 		</div><!--navbar-header-->
				 	</div><!-- container of nav-->
			 	</div>
			</div>
		 </div><!-- .navbar navbar-inverse-->


		<!--======================Jumbotron========================-->

		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="jumbotron">
						<p style="display:in-block;"><img src="images/thumbnails/deuan.jpg"/ class="stretchRight"><h2>Welcome Deuan Blair's Page!</h2></p>
						<h5>Enjoy exploring my site!</h5>
						<h6>Please join my site just click the button below</h6>
						<hr/>
						<p><a href="/signUp" class="btn btn-success" data-toggle="modal">Sign Up</a></p>
					</div>
				</div>
			</div>
		</div>
	<!--==========================font awesome==========================-->
		
	<br/><br/><br/>
	<hr/>
		<div class="container" >
			<div class="row">
				<div class="col-md-42" >
					<div class="well" style="height:43px;">
						
					<a href="https://www.twitter.com" class="pull-right" style="position:relative;"><span class="fa-stack fa-lg pull-right" id="myFontAwesome">
  					<i class="fa fa-square-o fa-stack-2x "></i>
  					<i class="fa fa-twitter fa-stack-1x "></i>
					</span></a>

					<a href="https://facebook.com" class="pull-right" style="position:relative;"><span class="fa-stack fa-lg pull-right" id="myFontAwesome">
  					<i class="fa fa-square-o fa-stack-2x "></i>
  					<i class="fa fa-facebook fa-stack-1x "></i>
					</span></a>
					 
					<a href="https://github.com" class="pull-right" ><span class="fa-stack fa-lg" id="myFontAwesome">
  					<i class="fa fa-square-o fa-stack-2x "></i>
  					<i class="fa fa-github fa-stack-1x "></i>
					</span></a>

					</div>
				</div>
			</div>
		</div>
			

		<!--==================Footer and Modal=====================-->

		<div class="container">
			<div class="row">
				<div class="col-md-12">
					
					<p id="copyright">Copyright &copy; Coronel.
						<a href="#myModal" data-toggle="modal" >Terms and Conditions</a>
					</p> 
					<div class="modal fade" id="myModal" tabinex="-1" role="dialog" aria-hidden="true">
						<div class="modal-dialog">
							<div class="modal-content">
								<div class="modal-header">
									<h3>Terms and Conditions</h3>
								</div>
								<div class="modal-body">
									<p>text goes here...</p>
								</div>
								<div class="modal-footer">
									<button class="btn btn-primary" type="button" data-dismiss="modal">Close</button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>


		<!--=======================Javascripts=====================-->
	<script src ="js/jquery.min.js"></script>
	<script src="http://code.jquery.com/jquery.min.js"></script>
	<script src ="js/bootstrap.js"></script>
    <script src="js/bootstrap.min.js"></script>

    
	</body>
</html>